.container
  = render 'tabs'
  = link_to "仮のボタンです", "#", class: "btn btn-primary"
  / <a href="/about">About</a>
  / rubyのメソッド
  / link_to '', about_path
  /
    上のメソッドを使う理由は、
    urlは変更されるリスクがあり、
    変更の度に、
    a href=""を書き換えるのは面倒くさいから。
  - @articles.each do |article|
    = render 'article', article: article
  = link_to new_article_path do
    .float_btn
      %i.fa.fa-plus
